@using System.Security.Claims
@model EducationPortal.WEB.MVC.ViewModels.CourseViewModel

@{
    ViewData["Title"] = "Course";
    var currentUserId = Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
}

<h1>@ViewData["Title"]: @Model.Name</h1>

<div>
    <div>
        <h4>
            @Model.Description
        </h4>
    </div>
    <div>
        <h3>Skills</h3>
        <div>
            <table class="table">
                <tr>
                    <th>Name</th><th>Description</th>
                </tr>
                @foreach (var skill in Model.Skills)
                {
                    <tr>
                        <td>@skill.Name</td>
                        <td>@skill.Description</td>
                        <td>
                            <form asp-controller="Course" asp-action="RemoveSkill" asp-route-courseId="@Model.Id" asp-route-skillId="@skill.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-outline-danger">
                                    Remove
                                </button>
                            </form>
                        </td>
                        @if (skill.ProfileSkillsId.Contains(currentUserId))
                        {
                            <td>Acquired</td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
    <div>
        <h3>Materials</h3>
        <table class="table">
            <tr><th>Name</th><th>Type</th><th>Link</th></tr>
            @foreach (var materialModel in Model.Materials)
            {
                <tr>
                    <td>@materialModel.Name</td>
                    <td>@materialModel.Discriminator</td>
                    <td><a href="@materialModel.Source" target="_blank">@materialModel.Source</a></td>
                    <td>
                        <form asp-controller="Course" asp-action="RemoveMaterial" asp-route-courseId="@Model.Id" asp-route-materialId="@materialModel.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-outline-danger">
                                Remove
                            </button>
                        </form>
                    </td>
                    @if (materialModel.PassedByUsersId.Contains(currentUserId))
                    {
                        <td>Learned</td>
                    }
                </tr>
            }
        </table>
    </div>
    
    @if (User.Identity.IsAuthenticated)
    {
        @if (currentUserId == Model.CreatorId)
        {
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a asp-controller="Course" asp-action="AddSkills" asp-route-courseId="@Model.Id">
                                Add skills
                            </a>
                        </div>
                        <div class="col">
                            <a asp-controller="Course" asp-action="AddMaterials" asp-route-courseId="@Model.Id">
                                Add materials
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
        
        <div class="container">
            <div class="row">
                @if (!Model.CompletedProfilesId.Contains(currentUserId) &&
                    !Model.JoinedProfilesId.Contains(currentUserId))
                {
                    <div class="col">
                        <form asp-controller="User" asp-action="JoinToCourse" asp-route-id="@Model.Id" method="post">
                            <button type="submit" class="btn btn-sm btn-outline-success">
                                Join to course
                            </button>
                        </form>
                    </div>
                }
                @if (Model.JoinedProfilesId.Contains(currentUserId))
                {
            <div class="col">
                <form asp-controller="User" asp-action="CompleteCourse" asp-route-id="@Model.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-success">
                        Complete course
                    </button>
                </form>
            </div>
                }
                @if (Model.CompletedProfilesId.Contains(currentUserId))
                {
                    <div class="col">
                        Passed
                    </div>
                }
            </div>
        </div>
    }
</div>