@using System.Security.Claims
@model EducationPortal.WEB.MVC.ViewModels.PaginationViewModel<CourseModel>

@addTagHelper *, EducationPortal.WEB.MVC

@{
    ViewData["Title"] = "Courses";
}

<h1>@ViewData["Title"]</h1>

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            <div class="my-2">
                <form method="get" asp-controller="Course" asp-action="Create">
                    <div>
                        <input type="submit" value="Create course" class="btn btn-secondary" />
                    </div>
                </form>
            </div>
        </div>
    }
    <div>
        <table class="table">
            <tr><th>Name</th><th>Description</th></tr>
            @foreach (var item in Model.Models)
            {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>
                <form asp-controller="Course" asp-action="Details" asp-route-id="@item.Id" method="get">
                    <button type="submit" class="btn btn-sm btn-outline-primary">
                        Details
                    </button>
                </form>
            </td>
            @if (User.Identity.IsAuthenticated
              && Guid.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)) == item.CreatorId)
            {
                <td>
                    <form asp-controller="Course" asp-action="Delete" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-outline-danger">
                            Delete
                        </button>
                    </form>
                </td>
            }
        </tr>
            }
        </table>
    </div>
    <div>
        <page-link page-model="Model.PageViewModel" page-action="Index"></page-link>
    </div>
</div>